In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from logistic_regression_lib import *

TRAINING

In [2]:
file_path = r"C:\Users\Aditya Jain\OneDrive - Indian Institute of Technology Indian School of Mines Dhanbad\WOC\Logistic_regression\binary_classification_train.csv"
df = pd.read_csv(file_path)

print(df.head())
df.shape

   ID  Feature_1   Feature_2   Feature_3   Feature_4   Feature_5   Feature_6  \
0   1 -36.963099  -15.014703   87.100435  101.523360   82.106571  -10.956180
1   2 -43.715674   18.847116   89.543406  -71.319314   35.597052  126.358570
2   3 -30.737550  -63.729643  106.081332   81.773948  112.769976  -12.425351
3   4 -27.674757 -118.869495  135.605213   99.130189   50.947548  -63.704785
4   5 -28.654141  -77.746597   85.215365   50.374774   79.763207  -32.703048

   Feature_7  Feature_8   Feature_9  ...  Feature_12  Feature_13  Feature_14  \
0   0.592326 -51.919028  -90.650434  ...  -81.183744   13.101921   18.051450
1 -29.837495 -40.473764  -94.079238  ...  -37.848260    7.457352  -77.420742
2 -29.913286 -41.771200   16.424511  ... -106.610289    5.930143  -30.177083
3  -7.353057 -58.140229  -80.209027  ... -149.056417    3.893419  -74.100869
4 -28.152031 -63.994794 -153.566789  ... -102.731465   11.160205  -13.395073

   Feature_15  Feature_16  Feature_17  Feature_18  Feature_19  Feature_20  \
0  -40.606288  -39.697053  -13.870802  173.722987  -17.349169  -82.550844
1   53.773718 -100.124294    9.870650   11.592519 -106.123605  -92.796421
2 -138.969234  -56.054914  -12.790661  164.832498  -37.412902  -85.441150
3  -47.659832  -48.209817  -36.264323   59.001922  -59.064134  -78.538639
4    9.416237    2.649524  -43.578704   52.261888  -66.081738  -80.325110

   Class
0      0
1      1
2      0
3      0
4      0

[5 rows x 22 columns]

(48000, 22)

In [3]:
df.head(10)

,ID,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_12,Feature_13,Feature_14,Feature_15,Feature_16,Feature_17,Feature_18,Feature_19,Feature_20,Class
0,1,-36.963099,-15.014703,87.100435,101.523360,82.106571,-10.956180,0.592326,-51.919028,-90.650434,...,-81.183744,13.101921,18.051450,-40.606288,-39.697053,-13.870802,173.722987,-17.349169,-82.550844,0
1,2,-43.715674,18.847116,89.543406,-71.319314,35.597052,126.358570,-29.837495,-40.473764,-94.079238,...,-37.848260,7.457352,-77.420742,53.773718,-100.124294,9.870650,11.592519,-106.123605,-92.796421,1
2,3,-30.737550,-63.729643,106.081332,81.773948,112.769976,-12.425351,-29.913286,-41.771200,16.424511,...,-106.610289,5.930143,-30.177083,-138.969234,-56.054914,-12.790661,164.832498,-37.412902,-85.441150,0
3,4,-27.674757,-118.869495,135.605213,99.130189,50.947548,-63.704785,-7.353057,-58.140229,-80.209027,...,-149.056417,3.893419,-74.100869,-47.659832,-48.209817,-36.264323,59.001922,-59.064134,-78.538639,0
4,5,-28.654141,-77.746597,85.215365,50.374774,79.763207,-32.703048,-28.152031,-63.994794,-153.566789,...,-102.731465,11.160205,-13.395073,9.416237,2.649524,-43.578704,52.261888,-66.081738,-80.325110,0
5,6,-38.117646,-33.507201,136.486830,110.598904,81.473220,-11.071980,-11.951786,-45.813208,-119.127127,...,1.500816,2.695457,1.396752,-92.554534,-12.519282,-13.926158,93.605695,-66.760545,-81.819177,0
6,7,-32.710837,-104.556238,99.556202,95.745037,122.140531,-59.949488,-26.897662,-57.708221,-176.379515,...,-97.535000,14.698240,-75.975937,10.561465,-92.801302,-16.242821,238.975354,-16.785631,-84.975001,0
7,8,-30.299229,-115.496618,107.734218,39.097323,58.528459,52.726004,-27.217253,-41.187358,-82.751154,...,-82.413299,5.861742,-293.635505,252.984181,-94.177349,-39.441920,183.493337,-36.680057,-79.694120,0
8,9,-42.547561,-144.806414,56.864835,-95.112571,55.815012,30.994533,10.739369,-53.023606,-80.888967,...,-43.431448,9.068072,-135.121926,341.669737,27.339864,-102.492365,119.226366,-12.871705,-82.028582,0
9,10,-37.368474,-78.407211,98.505033,118.360329,99.013203,57.520589,-8.262817,-50.428133,-117.502069,...,-68.698371,12.566891,125.967323,-31.805446,-7.892274,7.885237,144.233356,-13.811959,-82.958289,0

In [4]:
data = df.to_numpy()

In [5]:
# load the dataset
x_train = np.delete(data, (0,21), axis=1)
y_train = data[:,21]

In [6]:
print ('The shape of x_train is:', x_train.shape)
print ('The shape of y_train is: ', y_train.shape)
print ('Number of training examples (m):', len(x_train))

The shape of x_train is: (48000, 20)
The shape of y_train is:  (48000,)
Number of training examples (m): 48000

In [7]:
# normalize the original features
x_norm , mean_train , sigma_train =z_score_normalization_train(x_train)
print(f"mean_train = {mean_train}, \nsigma = {sigma_train}")
print(f"Peak to Peak range by column in Raw_x:{np.ptp(x_train,axis=0)}")   
print(f"Peak to Peak range by column in Normalized_x:{np.ptp(x_norm,axis=0)}")

mean_train = [ -32.71008045  -86.99950399   91.67256276  -47.08671198   87.38126899
   62.29779296  -18.81382457  -39.53794844 -134.50532456   25.60541892
   -3.51899481  -61.83448724    9.77847641  -59.38830132  142.52337729
  -25.52185829  -35.46949851  111.85355218  -54.25896532  -83.72139522],
sigma = [  4.68295764  45.56939893  38.99926358 103.62430049  27.22565466
 100.71276901  18.04219583   9.90442848  56.12416267  43.8744648
  27.93563876  45.12487707   5.52507649 106.31458318 151.67116893
  51.72052642  47.13093648  71.64007899  30.42637274   4.4871524 ]
Peak to Peak range by column in Raw_x:[  39.64725302  355.2507151   313.49416347  721.94723076  232.02552642
  697.89296604  162.33261962   82.47714251  473.17914283  413.33372187
  224.99076253  383.37534505   50.45563774  731.35421471 1213.55061156
  435.96818813  310.91947036  578.4643157   239.73705833   37.60389456]
Peak to Peak range by column in Normalized_x:[8.46628479 7.79581744 8.03846367 6.96696844 8.52231211 6.92953806
 8.99738708 8.32729952 8.43093456 9.42082653 8.05389719 8.49587567
 9.1321157  6.87915235 8.00119509 8.42930686 6.59692961 8.0745907
 7.879252   8.38034709]

In [ ]:
np.random.seed(1)
initial_w = np.random.rand(x_norm.shape[1])
initial_b = np.random.rand()

# Some gradient descent settings
iterations = 10000
alpha = 0.00001

w,b, J_history,_ = gradient_descent(x_norm ,y_train, initial_w, initial_b, compute_cost, compute_gradient, alpha, iterations)

Iteration 0: Cost 1.41
Iteration 1000: Cost 1.40
Iteration 2000: Cost 1.40
Iteration 3000: Cost 1.39
Iteration 4000: Cost 1.38

In [9]:
x_trail = x_norm[(1,2,4),:]

In [ ]:
x_trail

In [ ]:
predict(x_trail, w, b)

TESTING

In [ ]:
file_path = r"C:\Users\Aditya Jain\OneDrive - Indian Institute of Technology Indian School of Mines Dhanbad\WOC\Logistic_regression\binary_classification_test.csv"

df = pd.read_csv(file_path)

print(df.head())
df.shape

In [ ]:
df.head(10)

In [14]:
data = df.to_numpy()

In [ ]:
# load the dataset
x_test = np.delete(data, (0), axis=1)
print ('The shape of x_test is:', x_test.shape)
print ('Number of testing examples (m):', len(x_test))

In [ ]:
#normalize the original features
print(f"mean_train = {mean_train}, \nsigma = {sigma_train}")
x_norm =z_score_normalization_test(x_test,mean_train,sigma_train)
print(f"Peak to Peak range by column in Raw_x:{np.ptp(x_test,axis=0)}")   
print(f"Peak to Peak range by column in Normalized_x:{np.ptp(x_norm,axis=0)}")

In [17]:
x_trail = x_norm[(1,2,4),:]

In [ ]:
predict(x_trail, w, b)