In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from Neural_Network_Lib2 import *


file_path = r"C:\Users\Aditya Jain\OneDrive - Indian Institute of Technology Indian School of Mines Dhanbad\WOC\Neural_network\nn_train.csv"

df = pd.read_csv(file_path)

print(df.head())
df.shape

   ID  Feature_1  Feature_2  Feature_3  Feature_4  Feature_5  Feature_6  \
0   1         81        109         91         96        107         97
1   2        168        168        169        169        170        171
2   3         14         20         32          6         27          6
3   4         60        109        157        126         82         80
4   5         63         72         86         75         93         77

   Feature_7  Feature_8  Feature_9  ...  Feature_1017  Feature_1018  \
0        103         95        100  ...           114            93
1        172        172        175  ...            44            44
2          5         34         15  ...            63            64
3         70         58         37  ...           105           102
4         75         67         62  ...           108           109

   Feature_1019  Feature_1020  Feature_1021  Feature_1022  Feature_1023  \
0            91            98            72            92            78
1            44            44            44            44            44
2            63            60            54            48            43
3            99            98           100           105           111
4           102           106            96            91           102

   Feature_1024  binary_label  class_label
0            78             0            5
1            44             0            9
2            41             0            5
3           114             1            8
4            89             0            5

[5 rows x 1027 columns]

(80000, 1027)

TRAINING

In [2]:
df.head(10)

,ID,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Feature_1017,Feature_1018,Feature_1019,Feature_1020,Feature_1021,Feature_1022,Feature_1023,Feature_1024,binary_label,class_label
0,1,81,109,91,96,107,97,103,95,100,...,114,93,91,98,72,92,78,78,0,5
1,2,168,168,169,169,170,171,172,172,175,...,44,44,44,44,44,44,44,44,0,9
2,3,14,20,32,6,27,6,5,34,15,...,63,64,63,60,54,48,43,41,0,5
3,4,60,109,157,126,82,80,70,58,37,...,105,102,99,98,100,105,111,114,1,8
4,5,63,72,86,75,93,77,75,67,62,...,108,109,102,106,96,91,102,89,0,5
5,6,108,139,141,132,134,118,103,118,121,...,71,76,74,61,47,35,22,11,0,10
6,7,127,122,124,124,122,135,151,154,158,...,62,52,51,78,97,120,140,113,1,9
7,8,40,52,70,85,95,102,107,111,105,...,12,15,15,12,11,11,6,0,0,8
8,9,217,213,224,220,203,206,187,133,140,...,187,176,214,234,223,223,217,213,1,8
9,10,109,110,110,112,113,116,118,119,121,...,84,82,79,77,75,73,70,67,0,3

In [3]:
data = df.to_numpy()

In [4]:
# load the dataset
x_train = np.delete(data, (0,1025,1026), axis=1)
y_binary_label_train = data[:,1025]
y_class_label_train = data[:,1026]

In [5]:
y_one_hot = y_one_hot_converter(y_class_label_train)

In [6]:
print ('The shape of x_train is:', x_train.shape)
print ('The shape of y_binary_label_train is: ', y_binary_label_train.shape)
print ('The shape of y_class_label_train is: ', y_class_label_train.shape)
print ('Number of training examples (m):', len(x_train))

The shape of x_train is: (80000, 1024)
The shape of y_binary_label_train is:  (80000,)
The shape of y_class_label_train is:  (80000,)
Number of training examples (m): 80000

In [7]:
#rough 
# plt.plot(x_train,y_train,'g.-')
# plt.show()

In [8]:
# normalize the original features
x_norm , mean_train , sigma_train =z_score_normalization_train(x_train)
print(f"mean_train = {mean_train}, \nsigma = {sigma_train}")
print(f"Peak to Peak range by column in Raw_x:{np.ptp(x_train,axis=0)}")   
print(f"Peak to Peak range by column in Normalized_x:{np.ptp(x_norm,axis=0)}")

mean_train = [115.7538875 116.2609375 117.575125  ... 111.22925   110.3508
 109.89325  ],
sigma = [69.39115284 68.40555186 68.00200168 ... 57.62745132 57.93038573
 58.8021688 ]
Peak to Peak range by column in Raw_x:[255 255 255 ... 255 255 255]
Peak to Peak range by column in Normalized_x:[3.67482005 3.7277676  3.74988962 ... 4.42497446 4.40183501 4.33657474]

In [9]:
np.random.seed(1)
w1 = np.random.randn(2048,1024)
w2 = np.random.randn(512,2048)
w3 = np.random.randn(128,512)
w4 = np.random.randn(16,128)
w5_binary= np.random.randn(1,16)
w5_class= np.random.randn(10,16)

b1 = np.random.randn(1,2048)
b2 = np.random.randn(1,512)
b3 = np.random.randn(1,128)
b4 = np.random.randn(1,16)
b5_binary = np.random.randn(1,1)
b5_class = np.random.randn(1,10)

In [10]:
a1,a2,a3,a4= forward_propagation(x_norm,w1, b1,w2, b2,w3, b3,w4, b4)
_binary_output_probability=binary_output_probability(a4, w5_binary, b5_binary)
class_output_probability =class_output(a4, w5_class, b5_class)
print(class_output_probability.shape)

(80000, 10)

c:\Users\Aditya Jain\OneDrive - Indian Institute of Technology Indian School of Mines Dhanbad\WOC\Neural_network\Neural_Network_Lib2.py:15: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-a))

In [11]:
print(a1.shape,a2.shape,a3.shape,a4.shape)

(80000, 2048) (80000, 512) (80000, 128) (80000, 16)

In [13]:
result_binary = predict_binary(_binary_output_probability)
result_class  =predict_softmax(class_output_probability)
print(result_binary.shape)
print(result_class.shape)

(80000, 1)
(80000,)

In [14]:
print(_binary_output_probability[:20])  # Show first 20 elements

[[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]]

In [15]:
print(result_class)

[10  4  8 ... 10 10  4]

In [16]:
accuracy(result_binary, y_binary_label_train)

The accuracy is 48.85%

In [21]:
for i in range(50):
    w1, b1, w2, b2, w3, b3, w4, b4, w5_binary, b5_binary = backward_propagation_sigmoid(x_norm,y_class_label_train,a1,a2,a3,a4, w1, b1, w2, b2, w3, b3, w4, b4, w5_binary, b5_binary, _binary_output_probability)

In [24]:
a1,a2,a3,a4= forward_propagation(x_norm,w1, b1,w2, b2,w3, b3,w4, b4)
_binary_output_probability=binary_output_probability(a4, w5_binary, b5_binary)
# class_output_probability =class__output(a4, w5_class, b5_class)
result_binary = predict_binary(_binary_output_probability)
# result_class  =predict_softmax(class_output_probability)

In [25]:
result_binary
accuracy(result_binary, y_binary_label_train)

The accuracy is 50.00%

In [ ]:
for i in range(50):    
    w1, b1, w2, b2, w3, b3, w4, b4, w5_class, b5_class = backward_softmax(x_norm,y_one_hot,a1,a2,a3,a4, w1, b1, w2, b2, w3, b3, w4, b4, w5_class, b5_class, class_output_probability)

In [20]:
a1,a2,a3,a4= forward_propagation(x_norm,w1, b1,w2, b2,w3, b3,w4, b4)
# binary_output_probability=binary__output__probability(a4, w5_binary, b5_binary)
class_output_probability =class__output(a4, w5_class, b5_class)
# result_binary = predict_binary(binary_output_probability)
result_class  =predict_softmax(class_output_probability)

In [ ]:
result_class

TESTING

In [ ]:
file_path = r"C:\Users\Aditya Jain\OneDrive - Indian Institute of Technology Indian School of Mines Dhanbad\WOC\Neural_network\nn_test.csv"

df = pd.read_csv(file_path)

print(df.head())
df.shape

In [ ]:
df.head(10)

In [24]:
data = df.to_numpy()

In [ ]:
# load the dataset
x_test = np.delete(data, (0), axis=1)
print ('The shape of x_test is:', x_test.shape)
print ('Number of testing examples (m):', len(x_test))

In [ ]:
#normalize the original features
print(f"mean_train = {mean_train}, \nsigma = {sigma_train}")
x_norm =z_score_normalization_test(x_test,mean_train,sigma_train)
print(f"Peak to Peak range by column in Raw_x:{np.ptp(x_test,axis=0)}")   
print(f"Peak to Peak range by column in Normalized_x:{np.ptp(x_norm,axis=0)}")